@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body{
  font-family: 'Jost', sans-serif;
}
.slick-arrow {
  display: none;
}
.slick-prev{
  display: none;
}
.slick-next{
  display: none;
}
/* slider arrow color */
.slick-next:before{
  color: #fd1d1d !important;
}
.slick-prev:before{
  color: #fd1d1d !important;
}